[submodule "betaflight"]
	path = libs/betaflight
	url = https://github.com/betaflight/betaflight.git
[submodule "libs/test"]
	path = libs/test
	url = git@github.com:Vadinhao/Test_Task_Natife.git
[submodule "FPMschedule"]
	path = FPMschedule
	url = https://github.com/Vadinhao/FPMschedule
[submodule "libs/teeeets"]
	path = libs/teeeets
	url = https://github.com/Vadinhao/Calculator.git
[submodule "libs/tets_222"]
	path = libs/tets_222
	url = https://github.com/Vadinhao/Calculator.git
